.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    margin: 0px;
}

.map-container {
    width: 100vw;
    height: 90vh;
}

.header {
    width: 100vw;
    height: 10vh;
    text-align: center;
}
